@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --login-primary-color: #7fbf6d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background: rgb(244, 247, 254);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    position: fixed;
    left: -0.5%;
    top: -0.2%;
    width: 101vw;
    height: 101vh;
    filter: blur(1vh);
    z-index: -2;
}

html {
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: white;
    filter: drop-shadow(10px);
    box-shadow: 0px 1px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #67ce69;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav svg {
    transition: 0.3s ease;
}

nav .login {
    position: absolute;
    width: 1vh;
    height: 1vh;
    right: 5%;
    top: 26%;
}

nav a:hover,
nav a.active {
    color: #67ce69;
    border-bottom: 3px solid #67ce69;
}

nav a:hover svg {
    fill: #67ce69;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #67ce69;
        border-bottom: 3px solid #67ce69;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #000000;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #67ce69;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

/* CSS Sobre */
.home {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .homeContent h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}

span {
    color: #67ce69;
}

.homeContent h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.homeContent p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #67ce69;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #67ce69;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #67ce69;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #67ce69;
    box-shadow: 0 0 25px #67ce69;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #67ce69;
    border-radius: 4rem;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #67ce69;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #67ce69;
    color: white;
    box-shadow: 0 0 25px #67ce69;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #67ce69;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #67ce69;
    }
}

@keyframes words {

    0%,
    20% {
        content: "Web Developer";
    }

    21%,
    40% {
        content: "Developer";
    }

    41%,
    60% {
        content: "Web Designer";
    }

    61%,
    80% {
        content: "Youtuber";
    }

    81%,
    100% {
        content: "Script Writer";
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .homeContent h3 {
        font-size: 2.5rem;
    }

    .homeContent h1 {
        color: white;
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

h1{
    font-size: 5rem;
    color: rgb(100, 100, 100);
}

p {
    font-size: 2vh;
    color: rgb(100, 100, 100);
}

a {
    text-decoration: none;
}

.form {
    width: auto;
    max-width: 32rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) .5rem, white .5rem);
}

.form input{
    transition: 0.2s ease;
}

.form input:hover{
    box-shadow: 0px 0px 5px var(--login-primary-color);
}

.form_fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 2rem;
}

.form_title {
    font-weight: 300;
    font-size: 4.5rem;
    color: var(--login-primary-color);
    padding-top: 2rem;
    text-align: center;
}

.form__label {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
}

.form__input {
    padding: .5em 0;
    font-size: 1.5rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--login-primary-color);
    margin-bottom: .8rem;
    outline: none;
    transition: padding-left .09s linear;
}

.form__input:focus {
    outline: 2px solid var(--login-primary-color);
    padding-left: .5rem;
}

.btn {
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: .8rem 1.2rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:hover {
    color: white;
}

.btn-primary {
    background-color: var(--login-primary-color);
    color: white;
}

.btn-secondary {
    color: var(--login-primary-color);
}

.form__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form__action__aside {
    margin-top: 5%;
    font-size: .85rem;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: #717171;
}

.form__action__aside a {
    text-decoration: inherit;
}

.cadastro {
    font-size: 2rem;
    text-align: center;
}

label .users {
    position: absolute;
    top: 75%;
    left: 0%;
    right: 0%;
    text-align: center;
    font-size: 0.6rem;
}

.radios {
    display: flex;
    justify-content: space-between;
}

.radio label {
    background: #eee;
    color: black;
    display: block;
    position: relative;
    margin: 10px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputs {
    padding-top: 10px;
    background: white;
}

.input {
    box-shadow: 0px 1px 1px black;
}

.inputs input {
    background: transparent;
    margin: 2px;
}

.inputs input:focus {
    border-radius: 0;
    border: none;
}


.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio p {
    font-size: 1.5vh;
    font-weight: 1000;
}

.radio label{
    transition: 0.2s ease;
}

.radio label:has(input:checked) {
    background: #198754;
    color: white;
}

.radio label:hover {
    background: #19a564;
    box-shadow: 0px 0px 10px #19a564;
    color: white;
}

.radio p{
    transition: 0.2s ease;
}

.radio label:hover p {
    color: white;
}

.radio label:has(input:checked) p {
    color: white;
}

/* CSS Contato */
.section-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #5ccb5f;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section-contato h2 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

.section-contato form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-contato label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

.form-contato input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

.form-contato input:focus {
    border-radius: 16px;
}

.form-contato textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.form-contato textarea:focus {
    border-radius: 16px;
}

.form-contato button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

.form-contato button:hover {
    background: #f5f5f5;
    color: #5ccb5f;
    border-radius: 16px;
}

/*Página do Obrigado*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5ccb5f;
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.paragrafo {
    color: #f5f5f5;
    margin-bottom: 50px;
}

.btn-contato {
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}

.btn-contato:hover {
    border-radius: 16px;
}

/* CSS Sobre */
.section-sobre {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-sobre .home-content-sobre h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-sobre span {
    color: #67ce69;
}

.home-content-sobre h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content-sobre p {
    font-size: 1.6rem;
}

.home-img-sobre {
    border-radius: 50%;
}

.home-img-sobre img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #67ce69;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img-sobre img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #67ce69;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #67ce69;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #67ce69;
    box-shadow: 0 0 25px #67ce69;
}

.btn-sobre {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #67ce69;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #67ce69;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-sobre:hover {
    transform: scale3d(1.03);
    background-color: #67ce69;
    color: black;
    box-shadow: 0 0 25px #67ce69;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #67ce69;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.sobreProjeto{
    font-size: 6rem;
}

/* Footer */

footer {
    position: absolute;
    left: 0;
    min-width: 100%;
    background: linear-gradient(to bottom, #56d63f, #3d7932);
    padding: 50px;
}

.container-footer {

    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias {
    margin-top: 30px;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    color: #4b9e3d;
    background-color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #4b9e3d;
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #4b9e3d;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}

/* Responsivo */
@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:600px) {
    .footer-col {
        width: 100%;
    }
}

/* PAINEL */

.painel_body {
    background: rgb(244, 247, 254);
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 5%;
}

.colunas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 0%;
}

.grafico {
    height: 100%;
}


.colunas {
    height: 100%;
}

.linha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    height: 100%;
}

.mes {
    align-self: flex-end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100%;
    background: #E9EDF7;
}

.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    box-shadow: rgba(112, 144, 176, 0.12) 0px 18px 40px 0px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.mes:hover {
    transition: 0.5s ease;
    cursor: pointer;
    background: rgb(5, 205, 153);
}

.mes:hover .tooltip .tooltiptext {
    visibility: visible;
}   

.painel_balanco,
.painel_grafico {
    font-family: "DM Sans", sans-serif;
    padding: 20px;
    background: #FFFFFF;
    width: 80%;
    border-radius: 20px;
    height: auto;
    margin: 20px;
}

.painel_grafico {
    margin-top: 10%;
    height: 100%;
}

.painel_balanco .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.painel_balanco .header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #67ce69;
}

.painel_balanco .header select {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(5, 205, 153);
    font-weight: 600;
    background-color: transparent;
}

.painel_balanco .header select::after {
    background-color: #7fbf6d;
    border-radius: 0;
    border: none;
}

.painel_balanco .balanco {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.painel_balanco .box {
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(112, 144, 176, 0.12) 0px 18px 40px 0px;
    margin: 20px;
}

.balanco .box h3 {
    color: rgb(163, 208, 174);
}

.balanco .box p {
    color: #000000;
}