.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 7.5vh;
    margin-bottom: 5vh;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 5vh;
    border: none;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px;
}

.button-container button:hover {
    background-color: #ddd;
}