.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ranking-container {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0px 10px;
}

.ranking-item, .ranking-item2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ranking-item2{
    height: auto;
    margin-left: 10%;
    width: 90%;
}


.ranking-item2 {
    background-color: #e3e3e3;
    margin-bottom: 1vh;
}

.ranking-item p {
    border-radius: 0;
    background-color: #e3e3e3;
    margin: 5px 0;
    margin-left: 0;
    padding: 2vh;
    padding-bottom: 1vh;
}